body{
    margin: 20px;
}

svg{
    width: 800px;
    height: 550px;
    margin: 20px;
}

.container{
    width: 900px;
}

#metrics{
    margin-bottom: 10px;
}

#labels{
    font: 11px sans-serif;
    font-weight:bold;
    text-align:right;
}

.btn-group{
    margin-bottom: 10px;
}

g#axes line {
    stroke-width:1;
    stroke:#BBB;
    stroke-dasharray: 1,3;
}

g#bubbles circle {
    opacity: 1;
    stroke-width:1;
    stroke:black;
}

g#bubbles.highlight circle:not(.focussed) {
  fill-opacity: .2;
  stroke-opacity: .2;
}

g#bubbles circle:hover {
    stroke-width:3;
}

g#bubbles text {
    text-anchor:middle;
    alignment-baseline:middle;
    opacity:0;
    pointer-events:all;
    transition:1s;
}
g#bubbles text:hover {
    opacity:1;
}

#toggles, #years{
    align:left;
}

#countries{
    width: 150px;
    float: left;
}

#searchclear {
    float:right;
    top: 0;
    bottom: 0;
    height: 14px;
    margin-top:10px;
    padding-top:12px;
    padding-left:5px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#searchclear:hover {
    color: #D2322D;
}

